URxvt.font: xft:Hack\ Nerd\ Font\ Mono:style=Regular:size=12
URxvt.boldFont: xft:Hack\ Nerd\ Font\ Mono:style=Bold:size=12
URxvt.italicFont: xft:Hack\ Nerd\ Font\ Mono:style=Italic:size=12
URxvt.boldItalicFont: xft:Hack\ Nerd\ Font\ Mono:style=Bold\ Italic:size=12

!!! Fix these colors
*.foreground:  #ebdbb2
*.background:  #282828
*.cursorColor: #8ec07c
! Bg + DarkGrey
*.color0:      #282828
*.color8:      #928374
! Red
*.color1:      #cc241d
*.color9:      #fb4934
! Green
*.color2:      #98971a
*.color10:     #b8bb26
! Yellow
*.color3:      #d79921
*.color11:     #fabd2f
! Blue
*.color4:      #458488
*.color12:     #83a598
! Purple
*.color5:      #b16286
*.color13:     #d3869b
! Aqua
*.color6:      #689d6a
*.color14:     #8ec07c
! Gray + Fg
*.color7:      #a89984
*.color15:     #ebdbb2

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1


! Add transparency for URxvt background
URxvt.background:  [95]#1e1e1e

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.saveLines: 100000

URxvt.depth: 32
